services:
[% if has_backend %]
  backend:
    build: [[ backend_build ]]
    ports:
      - "[[ backend_port ]]:[[ backend_port ]]"
[% if docker_db %]
    environment:
      DATABASE_URL: [[ docker_db.url ]]
    depends_on:
      - db
[% endif %]
[% endif %]
[% if has_frontend %]
  frontend:
    build: [[ frontend_build ]]
    ports:
      - "[[ frontend_port ]]:[% if spa %][[ frontend_port ]][% else %]80[% endif %]"
[% endif %]
[% if docker_db %]
  db:
    image: [[ docker_db.image ]]
[% if docker_db.env %]
    environment:
[% for k, v in docker_db.env.items() %]
      [[ k ]]: [[ v ]]
[% endfor %]
[% endif %]
    ports:
      - "[[ docker_db.port ]]:[[ docker_db.port ]]"
[% endif %]
