import "reflect-metadata";

import { NestFactory } from "@nestjs/core";

import { AppModule } from "./app.module";

async function bootstrap() {
  const app = await NestFactory.create(AppModule);
  app.enableCors();
  await app.listen([[ backend_port ]]);
  console.log(`API on http://localhost:[[ backend_port ]]`);
}

bootstrap();
