import React from "react";
import { createRoot } from "react-dom/client";
import App from "./App.jsx";
[% if styling == "plain" %]
import "./styles.css";
[% endif %]

createRoot(document.getElementById("root")).render(<App />);
